@model www.e_bazar.dk.Models.DTOs.col_userprofile
@{
    dto_person person = Model.salesman_dto != null ? (dto_person)Model.salesman_dto : (dto_person)Model.customer_dto;
    biz_person biz = null;
    if(person.nator == "Salesman")
    {
        biz = new biz_salesman();
    }
    else
    {
        biz = new biz_customer();
    }

}
@if (person.favorites_product != null || person.favorites_collection != null)
{
    <table class="table xtable-bordered">
        <tr class="adm_th_products" style="background-color: #FFFFFF;">
            <th style="width:10%;" class="adm_th_products_image">

            </th>
            <th style="width:30%;" class="adm_th_products_image">
                @Html.DisplayName("Varer")
            </th>
            <th style="width:10%;" class="hide_phone">

            </th>
            <th style="width:50%;" class="hide_phone">

            </th>

        </tr>
        @foreach (dto_booth_item item in biz._GetFavorites(person))
        {
            if (item == null)
            {
                continue;
            }

            dto_booth booth_poco = null;
            if (item.GetType() == typeof(dto_product))
            {
                biz_booth_item _b = new biz_product();
                booth_poco = _b.GetBoothDTO<dto_product>((dto_product)item);
            }
            else
            {
                biz_booth_item _b = new biz_collection();
                booth_poco = _b.GetBoothDTO<dto_collection>((dto_collection)item);
            }

            if (booth_poco == null)
            {
                continue;
            }

            <tr>
                <td class="adm_td_products_image">
                    @if (item.image_dtos != null && item.image_dtos.Count > 0 && !string.IsNullOrEmpty(item.image_dtos.FirstOrDefault().name))
                    {
                        if (typeof(biz_product) == item.GetType())
                        {
                            string thumb = "/_content/images/profiles/" + booth_poco.salesman_dto.sysname + "/booths/" + booth_poco.sysname + "/products/" + item.sysname + "/t_" + item.image_dtos.FirstOrDefault().name;
                            string path = "/_content/images/profiles/" + booth_poco.salesman_dto.sysname + "/booths/" + booth_poco.sysname + "/products/" + item.sysname + "/" + item.image_dtos.FirstOrDefault().name;
                            <a class="myfade" href="@Url.RouteUrl("Product", new { id = @item.id })">
                                <img alt="Sample Image" class="adm_img_products_productimage loadlater" src="@thumb" data-src="@path">
                            </a>
                        }
                        else
                        {
                            string thumb = "/_content/images/profiles/" + booth_poco.salesman_dto.sysname + "/booths/" + booth_poco.sysname + "/collections/" + item.sysname + "/t_" + item.image_dtos.FirstOrDefault().name;
                                string path = "/_content/images/profiles/" + booth_poco.salesman_dto.sysname + "/booths/" + booth_poco.sysname + "/collections/" + item.sysname + "/" + item.image_dtos.FirstOrDefault().name;
                            <a class="myfade" href="@Url.RouteUrl("Collection", new { id = @item.id })">
                                <img alt="Sample Image" class="adm_img_products_productimage loadlater" src="@thumb" data-src="@path">
                            </a>
                        }
                    }
                    else
                    {
                        if (typeof(biz_product) == item.GetType())
                        {
                            var image_path = "/_content/images/site/icons/armchair2_bw.png";
                            <a class="myfade" href="@Url.RouteUrl("Product", new { id = @item.id })">
                                <img class="adm_img_image_icon" src="@image_path" alt="Sample Image" />
                            </a>
                        }
                        else
                        {
                            var image_path = "/_content/images/site/icons/sofa_bw.png";
                            <a class="myfade" href="@Url.RouteUrl("Collection", new { id = @item.id })">
                                <img class="adm_img_image_icon" src="@image_path" alt="Sample Image" />
                            </a>
                        }
                    }
                </td>
                <td>
                    @booth_poco.name<br />
                    @item.name
                </td>
                <td>
                    @if (typeof(biz_product) == item.GetType())
                            {
                        <span>&nbsp; &nbsp; &nbsp;</span>@Html.RouteLink("Slet", "RemoveFavorite2", new { product_id = item.id, collection_id = -1 }, new { @class = "myfade" })
                    }
                    else
                    {
                        <span>&nbsp; &nbsp; &nbsp;</span>@Html.RouteLink("Slet", "RemoveFavorite2", new { product_id = -1, collection_id = item.id }, new { @class = "myfade" })
                    }
                </td>
                <td></td>
            </tr>

        }
        @*@foreach (biz_collection col in Model.salesman_poco.favorites_collection)
            {

                <tr>
                    <td></td>
                    <td>
                        @col.booth_poco.name<br />
                        @col.name
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;@Html.ActionLink("Slet", "RemoveFavorite", new { product_id = -1, collection_id = (int)col.id })</td>
                </tr>

            }*@
    </table>
}
